services:
  djangoapp:
    container_name: djangoapp
    build:
      context: .
    ports:
      - 8000:8000
    volumes:
      - ./djangoapp:/djangoapp
      - ./data/web/static:/data/web/static/
      - ./data/web/media:/data/web/media/
    env_file:
      - ./dotenv_files/.env
    depends_on:
      - psql
      - redis

  celery:
    build:
      context: .
    container_name: celery
    command: celery -A project worker -l info
    volumes:
      - ./djangoapp:/djangoapp
      - ./data/web/static:/data/web/static/
      - ./data/web/media:/data/web/media/
    env_file:
      - ./dotenv_files/.env
    depends_on:
      - djangoapp
      - redis

  celery_beat:
    build:
      context: .
    container_name: celery_beat
    command: celery -A project beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - ./djangoapp:/djangoapp
      - ./data/web/static:/data/web/static/
      - ./data/web/media:/data/web/media/
    env_file:
      - ./dotenv_files/.env
    depends_on:
      - djangoapp
      - redis

  psql:
    container_name: psql
    image: postgres:13-alpine
    volumes:
      - ./data/postgres/data:/var/lib/postgresql/data/
    env_file:
      - ./dotenv_files/.env

  adminer:
    container_name: adminer
    image: adminer
    ports:
      - 8080:8080
    depends_on:
      - psql
    environment:
      - ADMINER_DEFAULT_SERVER=psql

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - 6379:6379
